{{ define "main" }}

	{{ partial "banner" site.Data.banner }}
  {{ partial "items" site.Data.callers }}
	{{ partial "items" site.Data.offerings }}
<!--  {{ partial "gallery" site.Data.gallery }}-->
  {{ partial "items" site.Data.contact }}
  {{ partial "youtube" site.Data.promo }}
  <span id="highlights"></span>
  {{ partial "gallery" site.Data.highlight_chili }}
  {{ partial "gallery" site.Data.highlight_handnhand }}
  {{ partial "spotlight" site.Data.highlight_3faces }}
  {{ partial "banner" site.Data.highlight_baby }}
  {{ partial "items" site.Data.testimonials }}
  {{ partial "banner" site.Data.highlight_simple_wedding }}
  {{ partial "banner" site.Data.equipment }}
  {{ partial "items" site.Data.payments }}
	{{ partial "footer" . }}

{{ end }}
